extends ./layout.jade

block content
  h1 预约登记
  form.form-horizontal
    div.form-group
      div.col-sm-3
        label 报送学院/部门
        input.form-control(type="text")
      div.col-sm-9
        label 实验中心
        input.form-control(type="text")
    div.form-group
      div.col-sm-3
        label 课程代码
        input.form-control(type="text")
      div.col-sm-3
        label 课程名称
        input.form-control(type="text")
      div.col-sm-3
        label 实验课性质
        input.form-control(type="text")
      div.col-sm-3
        label 是否独立设课
        input.form-control(type="text")
    div.form-group
      div.col-sm-3
        label 排课人
        input.form-control(type="text")
      div.col-sm-3
        label 联系电话
        input.form-control(type="text")
    div.form-group
      label.col-sm-12 排课时间
      div.col-sm-12
        button.btn.btn-primary(type="button", data-toggle="modal", data-target="#addSchedule") 添加排课
        table.table.table-bordered
          thead
            tr
              th 周次
              th 星期
              th 节次时间
              th 实验楼
              th 房间/位置
              th 实验内容
              th 主讲
              th 辅导
              th 上课人数
              th 开设组数
              th 年纪、专业、班级
              th 备注
              th 操作
          tbody
            tr
              //- - for(var i = 0; i < 12; i++)
              //-   td &nbsp;
              td 4
              td 星期四
              td 5-6节
              td b7
              td 331
              td 数字逻辑
              td 王小航
              td 
              td 84
              td 40
              td 2014级软件工程1，2，3，4班
              td 
              td 
                button.btn.btn-primary(type="button", data-toggle="modal", data-target="#editSchedule") 修改
                button.btn.btn-primary(type="button") 删除
    
    button.btn.btn-primary(type="submit") 提交预约
              
  div.modal#addSchedule(tabindex="-1" role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal"): span(aria-hidden="true") &times;
        div.modal-body
          div.row
            div.col-sm-3
              select.form-control
                option 第一周
                option 第二周
                option 第三周
            div.col-sm-3
              select.form-control
                option 星期一
                option 星期二
                option 星期三
            div.col-sm-3
              select.form-control
                option b7
                option b8
                option b9
            div.col-sm-3
              button.btn.btn-primary(type="button") 搜素可用机房
              
          table.table.table-bordered
            thead
              tr
                th 实验室编号
                th 机位
                th 空闲节次时间
                th 备注
                th 操作
            tbody
              tr
                td: a(href="lab.html") b7-133
                td 85
                td 1, 2, 3, 4, 7, 8
                td &nbsp;
                td: button.btn.btn-primary(type="button") 预定
                
  div.modal#editSchedule(tabindex="-1" role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal"): span(aria-hidden="true") &times;
        div.modal-body
            form.form-horizontal
              div.form-group
                div.col-sm-2
                  label 周次
                  input.form-control(type="text")
                div.col-sm-2
                  label 星期
                  input.form-control(type="text")
                div.col-sm-2
                  label 节次时间
                  input.form-control(type="text")
                div.col-sm-2
                  label 实验楼
                  input.form-control(type="text")
                div.col-sm-2
                  label 房间/位置
                  input.form-control(type="text")
              div.form-group
                div.col-sm-3
                  label 实验内容
                  input.form-control(type="text")
                div.col-sm-2
                  label 主讲
                  input.form-control(type="text")
                div.col-sm-2
                  label 辅导
                  input.form-control(type="text")
              div.form-group
                div.col-sm-2
                  label 上课人数
                  input.form-control(type="text")
                div.col-sm-2
                  label 开设组数
                  input.form-control(type="text")
                div.col-sm-3
                  label 年纪、专业、班级
                  input.form-control(type="text")
              div.form-group
                div.col-sm-6
                  label 备注
                  input.form-control(type="text")
        
        div.modal-footer
          button.btn.btn-primary(type="button") 保存
          button.btn.btn-default(data-dismiss="modal") 取消
      
  
      
