extends ./layout.jade

block content
  h1 排课总表
  button.btn.btn-primary 导出
  table.table.table-bordered
    thead
      tr
        th 课程代码
        th 课程名称
        th 实验课性质
        th 是否独立设课
        th 周次
        th 星期
        th 节次时间
        th 实验楼
        th 房间/位置
        th 实验内容
        th 主讲
        th 辅导
        th 上课人数
        th 开设组数
        th 年纪、专业、班级
        th 备注
        th 调停课纪录
    tbody
      tr
        td 155172
        td 数字逻辑
        td 计划内
        td 否
        td 4
        td 星期四
        td 5-6节
        td b7
        td 331
        td 数字逻辑
        td 王小航
        td 
        td 84
        td 40
        td 2014级软件工程1，2，3，4班
        td 
        td 
